Source: pynsq
Maintainer: Misja Hoebe <misja.hoebe@pm.me>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools (>= 39.0.1), python3-all (>= 3.6.5), debhelper (>= 11), python-docutils (>= 0.14+dfsg-3~), python-sphinx (>= 1.6.7)
Standards-Version: 3.9.6
Homepage: https://github.com/nsqio/pynsq
Vcs-Git: https://github.com/nsqio/pynsq.git
Vcs-Browser: https://github.com/nsqio/pynsq

Package: python3-pynsq
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: official Python client library for NSQ
X-Python3-Version: >= 3.6
